.imageSrc{
    background: rgb(214,236,233);
    background: radial-gradient(circle, rgba(214,236,233,1) 0%, rgba(148,233,229,1) 100%);
}
.src{
    max-width: 10%;
}
*{
    color: rgb(2,0,36);
    color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}